# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Environment variables
**/.env
**/.env.*

# Logs
**/*.log

# Docs
**/*.md

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
**/.venv/

# Django
**/db.sqlite3
**/*.sqlite3-journal

# Node / Vue
**/node_modules/
**/dist/
