[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
openai = "*"
bs4 = "*"
stripe = "*"
anthropic = ">=0.18.0"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.13"
