{% extends "base.html" %}
{% load static %}

{% block title %}Imagi - Natural Language To Code Platform{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home_styles.css' %}">
{% endblock %}

{% block navbar_links %}
<div class="home-nav-buttons">
    <ul class="home-nav-buttons-list">
        <li class="home-nav-item dropdown">
            <a class="home-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-th"></i> Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'builder:index' %}">
                    <i class="fas fa-magic"></i> Imagi Oasis
                </a>
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="home-nav-item">
                <a href="{% url 'payments:create-checkout-session' %}" class="home-nav-link">
                    <i class="fas fa-coins"></i> Buy Credits
                </a>
            </li>
            <li class="home-nav-item">
                <a href="{% url 'logout' %}" class="home-nav-link primary-action">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        {% else %}
            <li class="home-nav-item">
                <a href="{% url 'login' %}" class="home-nav-link primary-action">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="logo-placeholder hero-logo"></div>
            <h1>Natural Language To Code Platform</h1>
            <p style="font-size: 1.1em;">Imagi transforms your visions into functional code, empowering you to bring your ideas to life effortlessly.</p>
            {% if user.is_authenticated %}
                <a href="{% url 'builder:index' %}" class="btn btn-primary btn-lg">Start Building</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Start Building</a>
            {% endif %}
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i class="fas fa-magic feature-icon"></i>
                    <h3>AI Powered No-Code tools</h3>
                    <p>Imagi empowers everyone to effortlessly write in natural language and generate code with our intuitive Oasis Code Engine, making development accessible to all.</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-users feature-icon"></i>
                    <h3>Collaborative Development</h3>
                    <p>Work together in real-time with your team, sharing ideas and code seamlessly, ensuring everyone is on the same page throughout the development process.</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-code feature-icon"></i>
                    <h3>Efficient Code Generation</h3>
                    <p>Generate clean, efficient code automatically, allowing you to focus on creativity and innovation.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

