{% extends "base.html" %}

{% block title %}Imagi - Natural Language To Code Platform{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="logo-placeholder hero-logo"></div>
            <h1>Natural Language To Code Platform</h1>
            <p style="font-size: 1.1em;">Imagi transforms your visions into functional code, empowering you to bring your ideas to life effortlessly.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Start Building</a>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <i class="fas fa-magic feature-icon"></i>
                    <h3>No-Code Builder Code Engine</h3>
                    <p>Imagi empowers everyone to effortlessly write in natural language and generate code with our intuitive Builder Code Engine, making development accessible to all.</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-users feature-icon"></i>
                    <h3>Collaborative Development</h3>
                    <p>Work together in real-time with your team, sharing ideas and code seamlessly, ensuring everyone is on the same page throughout the development process.</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-code feature-icon"></i>
                    <h3>Efficient Code Generation</h3>
                    <p>Generate clean, efficient code automatically, allowing you to focus on creativity and innovation.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
