{% autoescape off %}
Hello {{ user.username }},

You're receiving this email because you requested a password reset for your Imagi account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}/auth/reset-password?uid={{ uid }}&token={{ token }}

If you didn't request this password reset, you can safely ignore this email.

Thanks,
The Imagi Team

<div class="email-actions">
    <a href="{{ protocol }}://{{ domain }}/auth/reset-password?uid={{ uid }}&token={{ token }}" 
       class="btn btn-success btn-lg">
        <span>Reset Password</span>
        <i class="fas fa-arrow-right"></i>
    </a>
</div>
{% endautoescape %}