# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Django
*.log
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pipenv
*.egg-info/
dist/
build/
