{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth/css/auth_styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-wrapper">
        <div class="auth-inner">
            <div class="auth-container">
                <div class="logo-placeholder"></div>
                {% block auth_content %}{% endblock %}
                <div class="auth-links">
                    {% block auth_links %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Add any additional JavaScript specific to auth pages here -->
{% endblock %}
