{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth/css/auth_styles.css' %}">
{% endblock %}

{% block navbar %}
<!-- Empty navbar block -->
{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-wrapper">
        <div class="auth-inner">
            {% block auth_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Add any additional JavaScript specific to auth pages here -->
{% endblock %}
