{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your Imagi account.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this, you can safely ignore this email. Your password won't be changed until you access the link above and create a new one.

Thanks,
The Imagi Team

<div class="email-actions">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" 
       class="btn btn-success btn-lg">
        <span>Reset Password</span>
        <i class="fas fa-arrow-right"></i>
    </a>
</div>
{% endautoescape %}