{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth/css/auth_styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="logo-placeholder"></div>
    <h2>Join Imagi</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'landing_page' %}">Back to Home</a></p>
</div>
{% endblock %}
